a {
    color: #0077cc; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}

a:hover {
    color: #0055aa; /* Цвет ссылок при наведении */
    text-decoration: underline; /* Подчеркиваем ссылки при наведении */
}
